body{
    margin: 0;
    display: grid;
    grid-template-columns: 250px 1fr;
}
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 15px 15px 5px 15px;
    background-color: rgb(220, 219, 219);
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: rgb(187, 187, 187);
    border-radius: 25px;
    padding-left: 10px;
    height: 2rem;
}

.icon-buttons {
    background-color: transparent;
    border-color: transparent;
}

.material-symbols-outlined {
    filter: invert(0.5) sepia(1) saturate(10) hue-rotate(180deg);
}


.general-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-items {
    display: flex;
    flex-direction: row;
}

.project-container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.main-container {
    background-image: url("needle.jpg");
    background-size: cover;
    /* background-position: center center; */
    width: auto;
    height: 100vh;
    display: flex;
    color: white;
}

h1{
    margin-left: 50px;
}